.troca-banner {
   background: #7ee6e7;
   margin-bottom: 40px;
}

.troca-banner h1,
.troca-banner h2 {
   margin: 0;
   padding: 0;
}

.troca-banner__logo {
   margin: 0;
   max-width: 100%; height: auto;
}

.troca-banner__samsung {
   margin: 0;
   position: absolute;
   top: 20px; right: 70px;
   width: 110px; height: auto;
}

.troca-banner h2 {
   color: #fff;
   font-size: 22px;
   position: absolute;
   right: 0;
   top: 50%;
   max-width: 380px;
   transform: translateY(-50%);
}

.troca-banner h2 span {
   color: inherit;
   font-family: inherit;
   font-size: 26px;
}

.troca-banner p {
   color: #d519aa;
   font-size: 22px;
   font-weight: bold;
   position: absolute;
   width: 100%; max-width: 385px;
   top: 65%; right: 0;
}

@media all and (max-width: 1100px){
   .troca-banner h2,
   .troca-banner p {
      position: static;
      display: block;
      width: 100%; max-width: none;
      text-align: center;
      transform: none;
      padding: 10px 5px;
   }

   .troca-banner__samsung {
      top: 5px; left: 5px;
   }

}