.container-fluid {
  padding: 0; 
  margin: 0;
}

.troca--container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto 100px;
}

/* MENU */
.troca-menu {
  background: url(https://static.carrefour.com.br/imagens/troca-agora/img/menu-background.gif) repeat-x;
  background-position: 0 10px;
  text-align: center;
}

.troca-menu__li {
  color: #5c5c5c;
  text-align: center;

  display: inline-block;
  max-width: 18%;
  vertical-align: top;
}

.troca-menu__li::before {
  color: #d519aa;
  content: attr(data-index);
  font-size: 30px;
  font-weight: bold;
  
  background-color: #f4f4f4;
  border-radius: 100%;
  display: block;
  line-height: 70px;
  margin: 0 auto 10px;
  width: 70px; height: 70px;
}

/* TITLES */

.troca__title {
  color: #5c5c5c;
  font-size: 25px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  margin: 60px auto 50px;
}

.troca__title span {
  display: block;
  color: inherit;
  font-size: 18px;
}


/* STEPS */

.troca-step {
  text-align: center;
}

.troca-step .text-label,
.troca-step [type="text"],
.troca-step select {
  color: #222;
  display: block;
  width: 90%;
  max-width: 370px;
  margin: 0 auto 20px;
  padding-left: 10px;
  text-transform: uppercase;
}

.troca-step .text-label {
  font-weight: normal;
  text-align: left;
}

.troca-step [type="text"],
.troca-step select {
  border: none;
  border-bottom: 2px solid #82e6e6;
  height: 35px;
  line-height: 35px;
}

.troca-step select {
  background: url(https://static.carrefour.com.br/imagens/troca-agora/img/bg-select.gif) top right no-repeat;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.troca-step select[disabled]{
  color: #ccc;
  border-color: #ccc;
}

.troca-step select + select {
  margin-top: 70px;
  margin-bottom: 70px;
}

.troca-radio-input {
  display: inline-block;
  vertical-align: top;
}

.troca-radio-input [type='radio'] {
  width: 40px; height: 40px;
}


.troca-radio-input p {
  background: #c1bcbc;
  color: #fff;
  max-width: 255px; height: 100px;
  padding: 15px 20px;
  margin-top: 30px;
  position: relative;
}

.troca-radio-input p a {
  color: #d519aa;
  font-weight: bold;
}

.troca-radio-input p:before {
  content: '';
  display: block;
  width: 0; height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #c1bcbc;

  position: absolute;
  top: -15px; left: 50%;
  margin-left: -10px;
}

.troca-radio-input p.is-active {
  background: #82e6e6;
}

.troca-radio-input p.is-active:before {
  border-bottom-color: #82e6e6;
}


.troca-radio-input:not(:last-of-type){
  margin-right: 30px;
}

.troca-radio-label {
  margin: 0;
  cursor: pointer;
}

.troca-radio-label input,
.troca-radio-label span {
  display: inline-block;
  vertical-align: middle;
}

.troca-radio-label input {
  margin: 0;
  position: relative;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}

.troca-radio-label span {
  margin-left: 10px;
  position: relative;
}

.troca-radio-label span:before {
  display: inline-block;
  content: '';
  cursor: pointer;
  width: 40px; height: 40px;
  left: -50px; top: -10px;
  position: absolute;
  background: url(https://static.carrefour.com.br/imagens/troca-agora/img/bg-checkbox.gif) no-repeat top right;
}

.troca-radio-label input:checked + span:before {
  background-position: top left;
}

.troca__price {
  color: #d519aa;
  font-size: 36px;
  font-weight: bold;
}

.troca__loja {
  font-size: 16px;
}


@media all and (max-width: 720px){

  .troca-menu {
    background: none;
    padding: 0;
  }
  
  .troca-menu__li {
    display: block;
    margin: 0 auto 20px;
    width: 90%;
    max-width: 320px;
  }

}


@media all and (max-width: 580px){

  .troca-radio-input {
    display: block;
    margin: 0 auto 20px !important;
    max-width: 255px;
  }
  
}


/**
 * CUPOM
 */

#cupom  {

}


/**
 * LAUDO
 */

 #laudo, #cupom {
  border: 1px solid #ccc;
  padding: 50px;
  width: 95%;
  max-width: 640px;
  margin: 50px auto;
}

#laudo header,
#cupom header {
  position: static; z-index: 0;
  font-size: 25px;
  color: #000;
  font-weight: bold;
  margin-bottom: 20px;
}

#laudo p {
  margin-bottom: 15px;
  font-size: 16px;
  text-align: justify;
}

#laudo span {
  font-size: inherit;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
}

#btn-print {
  background: #333;
  border: none;
  display: block;
  padding: 10px;
  color: #fff;
  margin: 0 auto 50px;
}

@media print {
  header, footer, .breadcrumb-section, .troca--container, #cupom, #lojas, #btn-print { display: none; }
  #laudo header { display: block; }
}